  .qf {
    *zoom: 1;
  }
  .qf:after {
    content: '';
    display: table;
    clear: both;
  }
  .table_container{
    position: relative;
    .backbtn {
      width: 100px;
      font-size: 16px;
      color: #333;
      padding: 6px 15px;
      background: #e6e6e6;
      border: 1px solid #bbbbbb;
      border-radius: 4px;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
    }
    .el-tabs__content {
      position: static;
    }
    .el-tabs__item.is-active {
      color: #e51c23;
    }
    .el-tabs__item {
      padding: 0 40px;
      height: 50px;
      line-height: 50px;
      color: #000;
    }
    .el-tabs--border-card>.el-tabs__header {
      background: #f5f5f5;
    }
    .el-tabs--border-card {
      border-bottom: 1px solid #fff;
      box-shadow: none;
    }
  }
  @media screen and (max-width: 820px) {
    .el-form .el-form-item {
      width: 100%!important;
      border-left: 1px solid #ececec;
      border-right: 1px solid #ececec;
    }
  }

@basecolor: #e51c23!important;

.w100 {
    width: 100%;
}
.table0 {
    border: 1px solid #ececec;
    border-collapse: collapse;
}
.table0 td,.table0 th {
  padding: 5px 10px;
  border: 1px solid #ececec;
}
.el-input__inner:focus,.el-select .el-input__inner:focus,.el-radio__inner:hover {
    border-color: @basecolor;
}
.el-select-dropdown__item.selected {
    background-color: @basecolor;
}
.el-button:focus, .el-button:hover {
    color: @basecolor;
    border-color: @basecolor;
}
.el-radio__input.is-checked .el-radio__inner {
    border-color: @basecolor;
    background: @basecolor;
}
